<!DOCTYPE html>
<html>

<head>
    <%- include('header.ejs') %>
        <link rel='stylesheet' href='/stylesheets/user_profile.css' />
</head>

<body>
    <%if (user) { %> <%- include('navbar.ejs') %> <% } else { %> <%- include('navbar1.ejs') %> <% } %>

    <h1 class="text-center">Profil czytelnika</h1>
    <br><br>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFqLwXLSt7nY_iW0vRguTgVIH1gjwuhx28PjI_Dc964oTRx0No" class="rounded mx-auto d-block" alt="user_avatar" >
            </div>
            <div class="col-md-6">
                <div class="user">
                    <p>Imię:</p>
                    <h3>
                        <strong><%= name %> </strong>
                    </h3>
                </div>
                <div class="user">
                    <p>Nazwisko:</p>
                    <h3>
                        <strong><%= surname %> </strong>
                    </h3>
                </div>
                <div class="user">
                    <p>E-mail:</p>
                    <h3>
                        <strong><%= email %> </strong>
                    </h3>
                </div>
                <hr>
                <a href='/library' class="btn btn-md btn-info"> <i class="fa fa-book"></i> Moja biblioteczka </a>
            </div>
        </div>
    </div>

    <%- include('footer.ejs') %>
</body>

</html>